# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.datasets import load_diabetes

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
auto = pd.read_csv("../auto-mpg.csv")

diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [5]:
# Enter your answer here:
# 1. There are 10 attributes in the data, they each represent values for medical information, 
# such as body mass index or blood sugar level.
# 2. They are both arrays containing numeric information about the data, 
# being data the features and target the ground truth.
# 3. 442 records

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [6]:
print(diabetes["data"].shape)
print(diabetes["target"].shape)

(442, 10)
(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [7]:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [8]:
diabetes_model = LinearRegression()
X = diabetes["data"]
y = diabetes["target"]

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [9]:
from sklearn.model_selection import train_test_split

diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(X, y, test_size=0.05)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [10]:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)
print('Coefficients', diabetes_model.coef_)
print(f'Intercept {diabetes_model.intercept_}')

Coefficients [  -4.4911028  -260.12156628  546.85316783  296.29538974 -645.47229256
  332.97293393   27.6334477   188.83952542  680.20582438   67.22493523]
Intercept 151.131531896202

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [11]:
y_pred = diabetes_model.predict(diabetes_data_test)
print(y_pred)

[145.16436127 173.24367169 150.54939988 138.25027793 217.62252812
 107.36649999 251.48420607 179.69250901 142.89750894 154.3913435
 186.80719701  86.83402647 160.07450292  82.65012797 143.46563833
  99.47323344 148.3624254  103.39806777 263.90319044 146.50881744
  72.43535438 155.38129418 104.18091597]

#### Print your `diabetes_target_test` and compare with the prediction.

In [12]:
print(diabetes_target_test)
result = pd.DataFrame({
    "y_pred":y_pred,
    "gt":diabetes_target_test
})
result

[172. 217. 141. 182. 296.  71. 132. 283. 214. 209. 161.  93. 196.  53.
 200. 135. 197.  88. 273. 202. 138.  95. 109.]

        y_pred     gt
0   145.164361  172.0
1   173.243672  217.0
2   150.549400  141.0
3   138.250278  182.0
4   217.622528  296.0
5   107.366500   71.0
6   251.484206  132.0
7   179.692509  283.0
8   142.897509  214.0
9   154.391343  209.0
10  186.807197  161.0
11   86.834026   93.0
12  160.074503  196.0
13   82.650128   53.0
14  143.465638  200.0
15   99.473233  135.0
16  148.362425  197.0
17  103.398068   88.0
18  263.903190  273.0
19  146.508817  202.0
20   72.435354  138.0
21  155.381294   95.0
22  104.180916  109.0

In [13]:
print(len(y_pred))
print(f"Precision = {np.abs(y_pred-diabetes_target_test).sum()/len(y_pred)}")

23
Precision = 45.04941250563997

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [14]:
# Not at all, the prediction has a low success rate.

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [15]:
import statsmodels.api as sm
mod = sm.OLS(diabetes_target_train,diabetes_data_train)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.112
Model:                            OLS   Adj. R-squared (uncentered):              0.091
Method:                 Least Squares   F-statistic:                              5.174
Date:                Wed, 30 Sep 2020   Prob (F-statistic):                    3.76e-07
Time:                        15:50:24   Log-Likelihood:                         -2721.4
No. Observations:                 419   AIC:                                      5463.
Df Residuals:                     409   BIC:                                      5503.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -41.6345    183.484     -0.227      0.821    -402.323     319.054
x2          -332.7039    189.746     -1.753      0.080    -705.703      40.295
x3           583.3786    202.823      2.876      0.004     184.673     982.085
x4           315.2151    201.075      1.568      0.118     -80.054     710.484
x5         -1042.7194   1308.698     -0.797      0.426   -3615.333    1529.894
x6           567.5626   1069.466      0.531      0.596   -1534.773    2669.899
x7           226.7919    666.567      0.340      0.734   -1083.532    1537.116
x8           447.3444    493.787      0.906      0.365    -523.333    1418.022
x9           632.1095    531.414      1.189      0.235    -412.535    1676.754
x10          119.7876    203.955      0.587      0.557    -281.143     520.718
==============================================================================
Omnibus:                        0.483   Durbin-Watson:                   0.240
Prob(Omnibus):                  0.786   Jarque-Bera (JB):                0.597
Skew:                           0.014   Prob(JB):                        0.742
Kurtosis:                       2.817   Cond. No.                         22.5
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [16]:
# 1. F-score = 4.642, and yes, the null hypothesis is rejected since the p-value (9.58e-07) is < 0.05 
# 2. TO-DO (no me quería parar 1 hora en investigar sobre esto)
# 3. = 2.

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [17]:
auto = pd.read_csv("../auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [18]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [19]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [20]:
print(auto["model_year"].min())
print(auto["model_year"].max())

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [21]:
print(auto.isnull().sum(axis=0))
auto = auto.dropna()
print("Removing null values from dataset...")
print(auto.isnull().sum(axis=0))

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64
Removing null values from dataset...
mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [22]:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [23]:
auto = auto.drop("car_name",axis=1)

In [37]:
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [38]:
X = auto[["cylinders","displacement","horse_power","weight","acceleration","model_year"]]
y = auto["mpg"]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [47]:
auto_model = LinearRegression()
# The fit is done in the cell below

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [50]:
from sklearn.metrics import r2_score
auto_model.fit(X_train, y_train)
y_pred = auto_model.predict(X_train)
print(y_pred)
print(f"R squared score = {r2_score(y_pred, y_train)}")

[20.06811999 29.49522626 29.95532491 11.94993482 29.84793659 21.00946709
 13.84864764 20.46660751 31.7260288  20.4813773  22.8012516  16.56100025
 26.02406869 15.96559722 32.22837868 22.2371091  34.9531971  31.99710498
 12.47819867 16.21724205 13.81530795 26.1072048  12.89548612 19.8596129
 28.13694051 25.7835451  25.50798121 27.62906801 34.31693825  8.66456784
 17.86669399 17.00510366 28.49473172 17.44234411 23.34873831 26.59057427
 20.96873708 25.45749456 10.86151313 26.76818107 13.21019837 15.99363402
 22.28785511 22.25988635 29.03541662 13.84983608 24.09636912 29.90492428
 18.82916839 17.82457754 23.69860598 25.51134946  5.56040238 24.31174391
 24.34369643 11.61117745 22.3293838  26.78836788 15.02327269 31.78281797
 34.21068149 18.04931275 27.91077152 26.53336547  8.27189824 20.91812276
 19.91997595 19.90474072 10.00396487 31.27850489 27.89426858 28.5082546
 20.46845581 29.42369125 27.41163425 23.792238   21.4271775  26.79400571
 29.94003324 29.84456183 23.26238634 25.76205917 33.12217578 20.53181195
 25.4065869  11.57244525 30.50070952 24.28583845 18.22886902 21.37562468
 20.68084234 21.06786409 22.71536861 15.49291776 10.60795989 33.19785697
 33.50977522 28.30626317 33.20373221 22.86983628 28.19881152 26.63785158
 28.39687927 29.91962831 22.215815   30.96541756 20.8711221  21.37137777
 17.68553333 16.98810791 27.82644122 34.08550729 21.49674189 22.72637378
 26.27459878 13.88239624 23.19204076 25.75824603 24.36435237 26.90896718
 21.44205711 27.35379804 27.21308511 21.93478957 22.53942107 12.63156707
 32.34776818 26.0216028  16.00287337 28.52396032 28.3036917  22.89192152
 16.21553953 31.12440795 32.16130031 15.06468049 15.13837366 27.36123418
 11.86213978 14.43072276 25.935248   25.07797772 25.34654713 24.56261646
 17.85498066 24.3454092  24.34004214  9.73494589 26.08384309 18.59640649
 27.78139641 30.2238874  25.06934715 26.69877247 20.90156388 33.11200332
 22.99165062 12.21561821 21.00805586 26.51596011 25.57143321 20.36132514
 24.06472241 15.35782605 24.54976981  9.16740576 32.4290958  19.60382434
 26.17135524 16.71644738 32.63566842 24.92890802 11.85484844 22.98780466
 23.63529331 28.70727551 15.24760192 17.06078986 14.13880931 21.06311816
 27.57108194 23.19176203 14.87977433 21.48963445 12.72699126 21.81540359
 25.72008606 12.8375295  19.77727106  9.60625709 19.27428329 31.78327547
 24.26258621 25.66831811 15.2424409  32.15391013 21.8962532  19.25727328
 28.43881661 25.5847658  13.89419969 30.4337229  29.25027554  8.38717542
 21.40441821 30.46997356 30.37644017 11.55070339 31.77545545 25.5944572
 19.74054387 13.53790838 30.60883962 34.31563084 22.08598188 28.62548837
 24.98966435 23.14716623 14.85057332 29.62269414 30.95577347 15.29396417
 28.36855026 18.28404401 17.59655001 25.62343417 34.15920774 28.09901738
 20.9121323  23.78885188 30.85205611  8.16649938 34.47421477  6.5719352
 28.76971044 17.28880326 21.50317372 24.38402369 21.24402828 26.11682194
 11.31028276 25.54042507 27.48904213 28.14676492 24.51201947 30.52815806
 24.18287593 33.17438831 28.47841956 22.14963423 24.80706272  7.11294734
 30.78916644 10.07839912 30.94830095 34.36952705 29.34801991 29.46516043
 25.93547819 28.31112649 19.7099345  28.65174624 27.39951039 28.78744373
 25.92221764 29.62934099 21.72808905 19.18460161 30.25205229 17.98773758
 20.83670151 17.72150491 16.15504547 31.99918164 26.62667594 10.96494246
 24.87141621 15.24486209 26.66987871 25.74832883 32.0068051  32.54729946
 23.54372482 21.74844167 16.86302366 30.25106045 22.53084049 29.67197124
 11.91444093 17.72568327 27.6332086  23.08700666 25.64469348 32.74607347
 25.6095923  13.90492174 33.48205419 25.17230754 29.67743816 20.09353915
 23.87602085 32.79308471 24.45884007 17.38268447 10.79061125 29.41810061
 15.30762059 35.04072916 10.3039288  11.62372769 31.50858805 29.16432355
 30.49043121 29.18066067 28.86836967 31.8874965  11.63076206 15.17762785
 19.61032661 25.13777576 29.17897577 19.90150782 25.95455371 30.48509116
 16.67296876 22.78433161 30.3905043  29.62627545 32.06421582 17.83713977
 31.3485694  19.18319049 22.82281465 26.47456135 20.25290788 27.51933514
 30.44662992  9.51765644 30.70220887 29.76354624 20.29965276 30.96876195
 24.99679708 26.76914099 28.43026753 28.12645005 26.60608343 23.87475344
 32.05951418 33.79880802 23.41007022 29.85706578 25.45020982 12.77669274
  9.0499255  22.15053324 16.6505265  11.24939386 30.57351543 30.60538274
  8.35455516 32.55546617 22.44294175 13.03868514 24.90565572 25.36126799
 33.64369922 21.52075962 21.57003535  7.87021847 33.37974785 13.78778119]
R squared score = 0.7715954947051501

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [56]:
y_test_pred = auto_model.predict(X_test)
print(y_test_pred)
print(f"R squared score = {r2_score(y_test_pred, y_test)}")

[31.20849297 30.98605626 30.92370617 31.14918061 10.01718749 10.57849688
 31.41432248 26.57329713 12.41487312 22.48024676  9.94858802 34.24141314
 33.48762294 32.11209633 26.60349972 15.37464663 31.9196243   9.92598594
 31.63835699 24.12963533]
R squared score = 0.6400386544063579

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.77 vs 0.64). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [58]:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [59]:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [62]:
y_pred09 = auto_model.predict(X_train09)
print(y_pred09)
print(f"R squared score = {r2_score(y_pred09, y_train09)}")

[10.57849688 24.56261646 24.45884007 26.66987871 18.28404401 31.78281797
 31.8874965  24.09636912 20.29965276 29.76354624 15.02327269 15.29396417
 29.90492428 26.79400571 28.70727551 24.80706272 31.41432248  8.38717542
 28.3036917  24.3454092  24.28583845 25.50798121 19.18460161 33.12217578
 13.53790838 31.20849297 32.06421582 10.79061125 21.81540359 16.6505265
 21.8962532  21.37137777 12.89548612 11.86213978 11.57244525  9.92598594
 33.79880802 12.77669274 16.21553953 23.63529331 11.85484844 30.3905043
 22.82281465 25.93547819 17.38268447 24.18287593 10.86151313 17.86669399
 26.69877247 34.24141314 21.52075962 22.98780466 20.46660751 29.62269414
 21.06786409 23.54372482 25.5847658  29.16432355 10.07839912 27.82644122
 30.60883962 20.46845581 33.17438831 20.68084234 21.50317372 15.35782605
 21.57003535 17.72568327 14.87977433 34.08550729 28.62548837 24.12963533
 25.36126799 13.84864764 27.57108194 26.60608343 30.85205611 31.78327547
 19.60382434 24.99679708 29.67197124 12.21561821 29.49522626 13.89419969
 29.67743816 28.36855026 16.98810791 14.13880931 20.09353915 31.63835699
 21.24402828 32.54729946  7.11294734 22.78433161 20.83670151 31.99710498
 22.86983628  9.51765644 31.7260288  30.78916644 15.49291776 30.4337229
 26.17135524 24.06472241 33.19785697 30.96541756 19.18319049 18.22886902
 11.62372769 16.15504547 33.64369922 20.90156388 21.37562468 23.34873831
 29.34801991 28.5082546  15.13837366  8.66456784 31.9196243   8.35455516
 19.61032661 27.62906801  8.16649938 27.41163425 23.78885188 20.9121323
 24.26258621 22.72637378 25.75824603 15.99363402 26.51596011 22.99165062
 11.63076206 13.81530795 22.08598188 12.47819867 26.47456135 30.49043121
 29.25027554 11.91444093 33.11200332 22.3293838  17.28880326 17.68553333
 23.08700666 25.7835451  10.00396487 29.17897577 26.59057427 19.90150782
 21.72808905 25.34654713 21.4271775  23.19204076 21.00805586 26.53336547
 29.03541662 16.21724205 22.53084049 11.94993482 25.64469348 27.89426858
 22.14963423 32.4290958  31.27850489 25.17230754 28.52396032 13.84983608
 27.39951039 27.78139641 32.16130031 17.98773758 29.62934099 28.30626317
 24.51201947 30.25106045 32.63566842 26.76914099 24.34369643 27.21308511
 17.82457754 29.85706578 30.44662992 30.70220887  9.16740576 25.62343417
 20.36132514 31.12440795 27.36123418 21.40441821 26.60349972 24.31174391
 19.91997595 22.44294175 33.48205419 22.48024676 10.01718749 16.86302366
 25.76205917 28.14676492  8.27189824 28.49473172 26.78836788 30.98605626
 17.83713977 16.67296876 17.72150491 19.25727328 11.61117745 29.41810061
 25.92221764 30.25205229 33.48762294 20.96873708 25.66831811 15.24760192
 26.1072048  25.74832883 26.02406869 24.90565572 15.30762059 24.92890802
 24.38402369 29.62627545 25.4065869  24.54976981 20.06811999 21.49674189
 33.20373221 21.06311816 26.63785158 22.71536861  6.5719352  26.76818107
 20.25290788 32.79308471 30.46997356 26.62667594 20.53181195 30.52815806
 32.15391013 26.90896718 30.92370617 11.24939386 34.31563084 19.27428329
 27.51933514 29.46516043 34.9531971  22.215815   11.31028276 16.56100025
 28.86836967 25.72008606 27.48904213 26.08384309 23.792238   15.2424409
 26.0216028  23.87602085 22.53942107 28.09901738 30.95577347 15.96559722
 10.3039288  25.6095923  21.74844167 11.55070339 28.31112649 30.50070952
 31.77545545 16.00287337 13.21019837  9.73494589 32.0068051  22.8012516
 22.89192152 32.34776818 21.48963445 30.96876195 29.18066067 15.24486209
 27.6332086  18.04931275 27.91077152 28.76971044 15.17762785 30.60538274
 31.50858805 28.19881152 21.00946709 13.88239624 17.85498066 17.44234411
 18.59640649 28.78744373 32.74607347 25.51134946 28.13694051 29.84456183
 19.74054387 22.28785511 34.47421477 26.57329713 35.04072916 32.11209633
 22.25988635 30.37644017 29.84793659 23.14716623 33.50977522 25.54042507
 28.43026753 19.8596129  34.21068149 29.91962831 13.03868514 27.35379804
 10.60795989 24.98966435 20.4813773  25.06934715  9.60625709 25.57143321
 17.59655001 23.26238634 19.77727106 23.69860598 25.45020982 17.00510366
 23.41007022 25.13777576 24.36435237 24.34004214 15.37464663 28.47841956
 12.63156707 28.12645005 14.43072276 24.87141621 12.72699126 33.37974785
 25.95455371 30.2238874  34.15920774 14.85057332 28.65174624 19.7099345
 13.78778119 29.94003324 31.3485694   5.56040238]
R squared score = 0.7527168636109156

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

- Yes, the smaller test r squared score is 0.64 and the new test score is 0.7527, there is a clear improvement.

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [63]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [66]:
selector = RFE(auto_model,n_features_to_select=3)

Fit the model and print the ranking

In [79]:
selector = selector.fit(X, y)
print(selector.ranking_)
print(auto.columns[1:])

[1 2 4 3 1 1]
Index(['cylinders', 'displacement', 'horse_power', 'weight', 'acceleration',
       'model_year'],
      dtype='object')

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [84]:
X_reduced = auto[["cylinders","acceleration","model_year"]]
y_reduced = auto["mpg"]

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [85]:
auto_model_reduced = LinearRegression()
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_reduced, y_reduced, test_size=0.2)

In [86]:
auto_model_reduced.fit(X_train_reduced, y_train_reduced)
y_pred_reduced = auto_model_reduced.predict(X_train_reduced)
print(y_pred_reduced)
print(f"R squared score = {r2_score(y_pred_reduced, y_train_reduced)}")

[28.06161074 12.9570866  16.13188385 24.9642962  27.33658929 11.51056562
 12.9746963  12.24263096 19.7191713  28.87115879 31.29275906 27.24854075
 31.05678899 24.09135321 28.97329509 26.60452395 25.78441007 32.71110451
 24.26745027 30.47616713 32.84493827 26.11807299 28.95920733 30.57478148
 24.35105535 32.04595605 14.45643669 12.88664777 16.13188385 31.88042481
 28.09989134 24.40740641 29.01908033 18.23743091 29.67366296 32.04243411
 17.38209762 23.60138031 16.12483997 21.11286315 23.4649461  13.8476393
 13.81241988 24.09135321 13.72437135 28.87820268 24.03852409 22.04920109
 25.37544182 28.1602251  25.87153709 32.03186828 11.59861415 31.30684683
 32.01425858 28.89229044 15.39981851 29.63492161 24.24984056 31.14835947
 12.99230601 29.70183849 18.40204064 21.25374081 23.35928787 29.73353596
 16.06144503 23.53538493 16.13892773 28.92398791 18.41965035 21.34178934
 25.67875183 13.83002959 32.88367963 32.01824127 32.78506527 11.52817533
 31.98256111 25.83723919 11.49295592 25.95958563 12.9746963  24.91146708
 32.88367963 32.78506527 11.40490738 18.40908452 25.11834011 30.54660595
 28.08626433 13.79481018 26.56930453 13.8476393  23.65068748 23.73521407
 19.70156159 11.56339474 19.7191713  27.31897958 11.58100445 32.88367963
 28.8288955  26.37559776 23.61899001 16.94495384 11.58100445 24.98190591
 32.05652187 30.98987211 16.16710327 21.28896022 18.18460179 27.90664533
 22.01750362 30.57478148 13.79481018 29.6771849  25.64353242 32.52796356
 21.28896022 15.31176998 12.9746963  22.84466138 30.52195237 16.9836952
 11.47534621 25.78441007 30.43038189 12.18980184 32.82380663 32.03186828
 21.18330198 20.48645605 26.56930453 18.16699208 16.86394919 31.16244723
 26.62213365 24.94668649 11.22881032 13.00991572 27.38941841 31.1941447
 25.03473502 11.38729768 13.77720047 24.26745027 13.90046842 29.59970219
 30.36346501 18.33160182 18.440782   24.91146708 24.94668649 19.75439071
 32.93650875 28.20601034 28.90990015 24.09135321 21.28896022 32.00017081
 11.4577365  24.35105535 24.99951561 29.74410179 16.84986143 19.84503968
 17.38209762 11.54578504 21.18330198 32.8555041  23.25362963 31.31741265
 26.58691424 27.91368921 16.97312937 13.00991572 32.76041168 30.50434266
 26.07580969 32.87663575 11.35207826 13.77720047 13.02752542 26.56930453
 24.5940693  23.54855119 28.07217657 22.01045974 31.18710082 18.47952335
 28.09376897 23.4649461  28.91342209 32.82380663 25.78441007 24.26745027
 31.2786713  32.15513623 25.74919066 23.65068748 14.52687552 24.85863796
 31.22584218 11.52817533 12.24263096 17.69462889 26.53408512 13.02752542
 23.56616089 12.24263096 13.72437135 25.01712532 14.4740464  26.60452395
 26.76913368 27.3718087  15.32937969 27.30136987 15.32937969 17.61362424
 21.89775761 24.0737435  20.48645605 27.90312339 11.52817533 24.71776031
 22.79887614 32.79915304 32.83085051 32.77449945 23.72817019 30.16623629
 32.10230711 16.89212472 31.3385443  18.48656723 28.08978628 31.89099063
 26.44603659 18.16699208 31.24345188 27.28376017 20.46884635 30.51490848
 31.2786713  31.06031093 23.35928787 13.04513513 32.08821934 13.74198106
 32.73928004 22.09498633 25.03473502 29.66661908 31.92621004 32.86606992
 12.26024067 29.71240432 31.296281   16.93438802 14.54448522 26.53408512
 24.21462115 29.57152666 29.4975659  19.70156159 29.67014102 32.7533678
 28.25531752 15.29416027 22.01750362 29.73001402 28.87866343 32.10935099
 26.53408512 29.74762373 32.70406062 18.25504062 29.73001402 30.53251819
 25.97719533 25.64353242 31.26810547 16.70546183 27.30136987 13.77720047
 13.77720047 26.00537086 31.19062276 32.76041168 22.7530909  28.10739598
 26.74800203 12.20741155 25.66114213 13.83002959 28.90637821 18.47247947
 24.12657262 26.11807299 28.81832967 32.73928004 23.4473364  18.41612841
 32.84141633 31.24697382 32.81676274 11.52817533 28.13909345 21.32417963
 30.51138654]
R squared score = 0.5970296390184493

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.