## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [39]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
# Your code here
sample_list_1= random.sample(range(101),k=80)
print(sample_list_1)

[76, 41, 71, 20, 60, 86, 57, 66, 39, 64, 27, 91, 88, 14, 100, 37, 89, 87, 9, 26, 16, 59, 18, 48, 1, 73, 80, 85, 22, 5, 47, 30, 49, 24, 36, 19, 0, 54, 58, 13, 98, 90, 75, 35, 67, 11, 46, 84, 23, 43, 31, 82, 97, 62, 81, 40, 51, 21, 56, 2, 92, 38, 34, 7, 32, 6, 74, 69, 33, 95, 8, 65, 44, 77, 70, 83, 50, 10, 78, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [55]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [61]:
# Your code here
sample_list_2= random.sample(range(101),k=80)
for number in sample_list_2:
    print(random.choice(sample_list_2))

48
60
56
11
48
92
21
40
36
4
63
77
37
35
38
95
45
20
40
57
47
50
63
76
28
65
40
4
68
11
4
48
93
12
25
81
6
61
40
9
95
74
99
21
32
65
44
62
11
35
13
100
54
15
21
12
18
21
80
52
57
94
58
58
76
44
38
85
39
20
80
81
58
57
67
85
63
73
15
35

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [62]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [69]:
# Your code here
set3= set1.difference(set2)
print(set3)

{1, 8, 10, 26, 27, 34, 41, 43, 46, 49, 51, 69, 75, 83, 86, 87, 90, 91, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [70]:
# Your code here
set4= set2.difference(set1)
print(set4)

{3, 4, 12, 15, 17, 25, 28, 29, 42, 45, 52, 55, 61, 63, 68, 79, 94, 96, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here
set5= set1.intersection(set2)
print(set5)

{0, 2, 5, 6, 7, 9, 11, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 44, 47, 48, 50, 54, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 70, 71, 73, 74, 76, 77, 78, 80, 81, 82, 84, 85, 88, 89, 92, 93, 95, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [87]:
# Your code here
if len(set1)==len(set2):
    print(True)
else:
    print(False)
if len(set3)== len(set4):
    print(True)
else:
    print(False)
if len(set4)== len(set5):
    print(True)
else:
    print(False)

True
True
False

#### Create an empty set called `set6`.

In [103]:
# Your code here
set6= set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [104]:
# Your code here
set6.update(set3)
print(set6)

{1, 69, 8, 10, 75, 83, 86, 87, 26, 27, 90, 91, 34, 98, 41, 43, 46, 49, 51}

#### Check if `set1` and `set6` are equal.

In [105]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [109]:
# Your code here
set1.issubset(set2)

False

In [110]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [116]:
# Your code here
new_set= set3.union(set4).union(set5)
new_set2=set1.union(set2)

if new_set==new_set2:
    print(True)

True

#### Using the `pop` method, remove the first element from `set1`.

In [119]:
# Your code here
set1.pop()
print(set1)

{1, 2, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 54, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [127]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for numbers in list_to_remove:
    if numbers in set1:
        set1.pop()
print(set1)

#Este último no soy capaz de sacarlo

{81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 100}